@import "../section";
@import "../variable";
@import "../nav";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #333;
  background: $bgClr;
  color: $priClr;
  width: min(95vw,140rem);
  margin-inline: auto;
  font-weight: 700;
}

@media (max-width:900px){
 
  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;

   &__title{
    align-self: center;
   }
   &__content{
    margin-bottom: 3rem;
   }
   &__img{
    width: 100%;
   }
  }
  .boxes{
    flex-direction: column;
  }
}